/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    background-color: #F6F8F9;
}
.container{
    border: 1px solid white;
    background-color: white;
    margin: 0 auto;
 
}

/* header*/
header{
    line-height: 100px;
    

}
.header-logo{
    vertical-align: middle;
    height: 70px;
    margin-left: 1%;
    
}

.header-title{
   
   vertical-align: middle;
  
}
/* button */

.background-table{
    background-color: white;
    height: 60px;
    width: 800px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 5%;
    border: none;
}

.border-button{
    background-color: white;
    border: 2px solid white;
    
    
    
}
.task {
    color: white;
   background-color: #47ADF1;
   height: 40px;
   width: 110px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5%;
    border: none;
}
.section{
    color: #c1c1c2;
    border: 2px solid #c1c1c2 ;
    background-color: white;
    height: 40px;
   width: 110px;
   border-radius: 10px;
   
} 
/* main-list */

.background-list{
    background-color: white;
    height: 570px;
    width: 800px;
    border: 2px solid;
    border-radius: 10px;
    margin-left: 5%;
    border: none;
}


.title{
    height: 40px;
    width: 550px;
    margin-top: 10px;
    margin-left: 10%;
    
}

ul{
    list-style: none;
}
.list{
    
    font-weight: bold;
    height: 40px;
    width: 600px;
    margin-left: 10%;
}
.checkmark{
    font-size: smaller;
    color: #65C0A9;
    border: 1px solid #65C0A9;
    border-radius: 50%;
    
    padding: 5px;
   margin-right: 1%;
   
}
.cross{
    font-size: smaller;
    color: #E84038;
    border: 1px solid #E84038;
    border-radius: 50%;
    padding: 5px;
    
    margin-right: 1%;
}
/* Badges */

#blue-badge{
    font-size: smaller;
    font-weight: lighter;
    color: white;
    background-color: #45ABEA;
    border: 2px;
    padding: 3px;
    border-radius: 10px;
}
#purple-badge{
    font-size: smaller;
    font-weight: lighter;
    color: white;
    background-color: #9C72E4;
    border: 2px;
    padding: 3px;
    border-radius: 10px;
}
#green-badge{
    font-size: smaller;
    font-weight: lighter;
    color: white;
    background-color: #64C0A9;
    border: 2px;
    padding: 3px;
    border-radius: 10px;

}
#orange-badge{
    font-size: smaller;
    font-weight: lighter;
    color: white;
    background-color: #F29E33;
    border: 2px;
    padding: 3px;
    border-radius: 10px;
}

#pink-badge{
    font-size: smaller;
    font-weight: lighter;
    color: white;
    background-color: #D863A1;
    border: 2px;
    padding: 3px;
    border-radius: 10px;
}
#grennyellow-badge{
    font-size: smaller;
    font-weight: lighter;
    color: white;
    background-color: #B0C926;
    border: 2px;
    padding: 3px;
    border-radius: 10px;
}
}